<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<aside id="left-panel" class="left-panel">
    <div th:replace="aside :: myMenu"></div>
</aside>
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i
                        class="fa fa fa-tasks"></i></a>
            </div>
            <a class="btn-logout pull-right" th:href="@{/logout}">
                <i class="fa fa-sign-out"></i> Logout
            </a>
        </div>
    </header>
    <div class="content mt-3">
        <div class="col-lg-12">
            <div class="card">
                <form th:action="@{/order/detail/report/export}" method="post" >

                    <div class="card-header">
                        <small>Order Summary Report </small>
                    </div>
                    <div class="card-body card-block">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>From</label>
                                <input type="text" class="form-control" id="from" name="fromDate" placeholder="From date">
                            </div>
                            <div class="form-group col-md-6">
                                <label>To</label>
                                <input type="text" class="form-control" id="to" name="toDate" placeholder="To date">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm"
                                id="submit-btn">
                            <i class="fa fa-dot-circle-o"></i> Search
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm" id="reset">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/vendor/jquery-2.1.4.min.js}"></script>
<script th:src="@{/assets/js/lib/bootstrap-datepicker.js}"></script>
<script th:src="@{/assets/js/lib/bootstrap-datepicker.de.min.js}"></script>
<script>
    $('#from').datepicker({
        format : 'dd-mm-yyyy',
        autoclose : true
    });


    $('#to').datepicker({
        format : 'dd-mm-yyyy',
        autoclose : true
    });

</script>
<footer>
    <div th:replace="footer :: myfooter"></div>
</footer>
</body>
</html>

