<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="header :: myheader"></div>
</head>
<body>
<aside id="left-panel" class="left-panel">
    <div th:replace="aside :: myMenu"></div>
</aside>
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i
                        class="fa fa fa-tasks"></i></a>
            </div>
            <a class="btn-logout pull-right" th:href="@{/logout}">
                <i class="fa fa-sign-out"></i> Logout
            </a>
        </div>
    </header>
    <div class="content mt-3">
        <div class="col-lg-12">
            <div class="card">
                <form th:action="@{save}" method="post" th:object="${payment}">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card-header">
                        <small>Payment </small>Entry
                    </div>
                    <div class="card-body card-block">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class=" form-control-label">Order/Course Name: </label>
                                <input type="text"
                                       class="form-control" name="orderId" id="orderId"
                                       th:field="*{orderId}" required readonly>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                    <label class=" form-control-label">Payment Method</label>
                                    <select class="form-control" id="paymentMethod" name="paymentMethod"
                                            th:field="*{paymentMethod}" required>
                                        <option value="" selected>Select Payment Method</option>
                                        <option th:each="type : ${paymentMethods}"
                                                th:value="${type}"
                                                th:text="${type}"></option>
                                    </select>
                            </div>

                            <div class="form-group col-md-6">
                                    <label class=" form-control-label">Payment Type</label>
                                <select class="form-control" id="paymentType" name="paymentType"
                                        th:field="*{paymentType}" required>
                                    <option value="" selected>Select Payment Type</option>
                                    <option th:each="type : ${paymentTypes}"
                                            th:value="${type}"
                                            th:text="${type}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label>Amount</label>
                                <input type="text" class="form-control" name="amount" placeholder="Amount"
                                       th:field="*{amount}" onkeypress="return onlyNumberKey(event)">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-control-label">Payment Date : </label>
                                <input type="text"
                                       class="form-control" name="paymentDate" id="paymentDate"
                                       th:field="*{paymentDate}">
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm"
                                id="submit-btn">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm" id="reset">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Supplier Payment</strong>
                </div>
                <div class="card-body">
                    <table id="quote-datatable"
                           class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Order/Course Id:</th>
                            <th>Date</th>
                            <th>Payment Method</th>
                            <th>Payment Type</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="payment : ${suppliersPayment}">
                            <td th:text="${payment.orderId}"></td>
                            <td th:text="${payment.paymentDate}"></td>
                            <td th:text="${payment.paymentMethod}"></td>
                            <td th:text="${payment.paymentType}"></td>
                            <td th:text="${payment.amount}"></td>
                            <td><a th:href="@{/payment/delete/{id}(id=${payment.id})}" class="btn btn-danger btn-sm">Delete</a></td>
                            <td><a th:href="@{/payment/edit/{id}(id=${payment.id})}" class="btn btn-danger btn-sm">Edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/vendor/jquery-2.1.4.min.js}"></script>
<script th:src="@{/assets/js/lib/bootstrap-datepicker.js}"></script>
<script th:src="@{/assets/js/lib/bootstrap-datepicker.de.min.js}"></script>


<script>
    $('#paymentDate').datepicker('setDate', 'today');
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });

    $('#paymentDate').datepicker({

        format : 'dd-mm-yyyy',
        autoclose : true

    });

</script>
<footer>
    <div th:replace="footer :: myfooter"></div>
</footer>
<script>
    $('#quote-datatable').DataTable({
        "paging" : true,
        "lengthChange" : true,
        "searching" : true,
        "ordering" : true,
        "info" : false,
        "responsive" : true,
        "autoWidth" : false,
        "pageLength" : 10,
        "order" : [ [ 1, 'asc' ] ]
    });

    function onlyNumberKey(evt) {

        // Only ASCII charactar in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>
</body>
</html>

